<form>
    <mat-form-field appearance="outline">
        <mat-label>Show Name</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput aria-label="Show Name" [formControl]="search">
        
        <!--Jessicas code to insert in search bar? - show image alongside returned results - ?how to format for angular material form? 
        <div class="result-summary">
            Found {{results.length}} {{results.length == 1 ? 'result' : 'result'}}
        </div>
        <div class="result" *ngFor="let result of results;">
            <img [src]="result.show.image.medium">
            <div class="content">{{result.show.name}}</div>
        </div>
        -->

    </mat-form-field>
</form>

