  <div class="content" role="main">
      <h1>MTDB</h1>
      <div class="spacer"></div>
      <h2>Movies and TV Shows Database</h2>
      <div class="spacer"></div>

      <div>
        <app-show-search></app-show-search>
      </div>

      <mat-card color="primary">
        <app-search-display></app-search-display>
      </mat-card>

  </div>
  
  
  <!-- changed to reflect angular material styling  
  <h1>MTDB</h1>
  <h2>Movies and TV Shows Database</h2>
  
  <div>
    <app-show-search></app-show-search>
  </div>
  
  <div class="card-container">
    <app-search-display></app-search-display>
  </div> -->
    