.mat-card-title{
    color: #E91E63;
    font-size: 2em;
    line-height: 1.2;
  }

.mat-card{
    flex: 1 1 auto;
}

#label{
    font-weight: 500;
}

#summary{
  font-size: 1.1em;
}

#flex-container{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 575px) {
  #flex-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .mat-card{
    width: 90%;
    align-items: center;
  }
  #imageDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}