.mat-card-title{
    color: #E91E63;
    font-size: 2.2em;
    line-height: 1.2;
  }

.mat-card{
    flex: 1 1 auto;
}

mat-card.basic-card{
  color: white;
  background-color: #282828;
  max-width: 700px;
}

#label{
    font-weight: 500;
}

#summary{
  font-size: 1.2em;
}

#flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}

#imageDisplay #textDisplay{
  display: flex;
}

@media screen and (max-width: 575px) {
  .mat-card-title{
    text-align: center;
  }
  #flex-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .mat-card{
    width: 90%;
    align-items: center;
    padding: auto;
  }
  #imageDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}