
<div *ngIf="!current.showName">
    No data available
</div>

<div *ngIf="current.showName" id="showDisplay">
    
    <div id="flex-container">
        
        
        <mat-card id="imageDisplay" class="basic-card mat-elevation-z0">
            <img [src]='current.showImage' />
        </mat-card>
        
        <span class="spacer"></span>
        
        
        <mat-card id="textDisplay" class="basic-card mat-elevation-z0">
            <mat-card-title>
                {{current.showName}}
            </mat-card-title>

            <div class="spacer"></div>
            <br/>

            <span id="summary">{{current.showSummary}}</span>

            <div class="spacer"></div>
            <br/>

            <span><span id="label">Language:</span> {{current.showLanguage}}</span>
            <div class="spacer"></div>
            <span><span id="label">Genres:</span> {{current.showGenres}}</span>
            <div class="spacer"></div>
            <span><span id="label">Rating:</span> {{current.showRating}}</span>
            <div class="spacer"></div>


            <br/>

            <mat-divider></mat-divider>

            <br/>

            <div class="spacer"></div>
            <span><span id="label">Production status:</span> {{current.showStatus}}</span>
            <div class="spacer"></div>
            <span><span id="label">Runtime:</span> {{current.showRuntime}} minutes</span>
            <div class="spacer"></div>
            <span><span id="label">Next showing:</span> {{current.scheduleTime}} {{current.scheduleDays}} on {{current.showNetwork}}</span>
        </mat-card>      
       
    </div>
</div>